@{
    ViewBag.Title = "Cached";
}

@section Head {
    <script type="text/javascript" src="@Url.Action("CachedChartSetUp", "Home")"></script>
}

<h2>Cached SetUp Chart</h2>

<h3>More about:</h3>
<ol>
    <li>The setup is in an external JavaScript file, this means that there is less Kb to be downloaded if it's correctly cached.</li>
    <li>This will probably not be cached while running inside Visual Studio Development Server because it does not use client-cache like IIS does.</li>
    <li>You can alo use server-side caching (OutputCache) if you would like.</li>
    <li>If you decide to use static series data, it will also be cached and it is not desired in most cases. You are more likely to use AjaxSeries while using external files.</li>
</ol>

<div id="container"></div>