@{
    ViewBag.Title = "Index";
}

<h2>Basic Chart Example</h2>

@(
    Html.Highchart("myChart")
        .Title("Tickets per month")
        .Subtitle("From Jan to Dec")
        .WithSerieType(ChartSerieType.Line)
        .AxisX("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec")
        .AxisY("Quantity")
        .Options(PlotOptions.Line.ShowDataLabels().DisableMouseTracking())
        .Series(
            new Serie("iPad", 0, 0, 0, 0, 0, 0, 16, 20, 40, 61, 100, 800),
            new Serie("MacBook", 616, 713, 641, 543, 145, 641, 134, 673, 467, 859, 456, 120),
            new Serie("iPhone", 10, 45, 75, 100, 421, 546, 753, 785, 967, 135, 765, 245)
        )
        .ToHtmlString()
)


<h2>Basic Ajax Chart Example with random data (refreshed every 5 seconds)</h2>

@(
    Html.Highchart("myAjaxChart")
        .Title("Tickets per month")
        .WithSerieType(ChartSerieType.Column)
        .AxisX("Jan", "Feb", "Mar")
        .AxisY("Quantity")
        .Series(
            AjaxConfig.LoadFrom(Url.Action("LoadData", "Ajax")).Reload(5000)
        )
        .ToHtmlString()
)