@{
    ViewBag.Title = "Themed";
}

@section Head {
    <script src="@Url.Content("~/Scripts/Highcharts/themes/grid.js")" type="text/javascript"></script>
}

<h2>Themed Chart Example</h2>

<p>Just add a reference to the javascript theme file and you charts will start to use it</p>

@(
    Html.Highchart("myChart")
        .Title("Tickets per month")
        .Subtitle("From Jan to Dec")
        .AxisX("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec")
        .AxisY("Quantity")
        .Series(
            new Serie("iPad", new int[] { 0, 0, 0, 0, 0, 0, 16, 20, 40, 61, 100, 800 }),
            new Serie("MacBook", new int[] { 616, 713, 641, 543, 145, 641, 134, 673, 467, 859, 456, 120 }),
            new Serie("iPhone", new int[] { 10, 45, 75, 100, 421, 546, 753, 785, 967, 135, 765, 245 })
        )
        .ToHtmlString()
)